:root {
  --green: #30C88F;
  --black: #2D314D;
  --grey: #9597A5;

  --gradient: linear-gradients(135deg, #33d35e 0%, #2ab6d9 99.58%);
}



html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol{
  list-style: none;
}

h1{
  color: var(--black);
}

h3{
  margin-right: 50px;
  color: var(--gradient);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0%;
  margin: 0%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  background-color: var(--gradient);
  color: var(--black);
  overflow-x: hidden;
}

img {
  display: flex;
  object-fit: cover;
}

a {
  text-decoration: none;
  display: inline-block;
}


.container {
  width: 100%;
  max-width: 800px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-header__container {
  display: flex;
  align-items: center;
}

.site-header__img {
  width: 150px;
  height: 150px;
  margin-right: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.site-header__info {
  flex-grow: 1;
}

.site-header__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.site-header__subtitle {
  margin-top: 0;
  margin-bottom: 15px;
}

.site-header a{
  text-decoration: none;
  margin-right: 50px;
}

.main-content {
  margin-top: 15px;
}

.main-content__title {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
}
.main-content__list {
  display: flex;
  align-items:center;
  margin-top: 10px;
}
.main-content__item {
  margin-bottom: 50px;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.main-content__img{
  margin-bottom: 50px;
  margin-right: 100px;
}

.main-content__link{
  margin-bottom: 50px;
  margin-right: 100px;
}

.main-content__time{
  margin-bottom: 120px;
}

.main-content {
  flex-grow: 1;
}
